<div class="container">
        <div class="card mx-auto">
        <div class="card-signin mx-auto">
        <div class="card-body">
        <h5 class="card-title text-center">Sign Up Business Account</h5>
        <form class="form-signin">
        <div class="row">
                <div class="col-sm-6 form-group">
                <label>First Name</label>    
                <input type="text" class="form-control" required>
                </div>
                <div class=" col-sm-6 form-group">
                <label>Last Name</label>  
                <input type="text" class="form-control" required>
                </div>
        </div> 
        <div class="row">  
                <div class="col-sm-12 form-group">
                        <label>Email ID</label>  
                <input type="text" class="form-control" required>
                </div>
        </div>
        <hr class="my-4">
        <div class="row">        
                <div class=" col-sm-6 form-group ">
                        <label>Business Type</label>
                        <select class="form-control custom-select" required >
                                <option *ngFor="let b_type of b_type_keys();let i=index" [value]="b_type">{{b_type_values()[i]}}</option>
                        </select>
                </div>
                <div class=" col-sm-6 form-group ">
                        <label>Business Name</label>
                        <input type="text" class="form-control"  required>
                </div>
        </div>  
        <div class="row">        
                <div class=" col-sm-12 form-group ">
                        <label>Description</label>
                        <textarea rows="3" class="form-control" required></textarea>
                </div>
        </div>
        <div class="row">            
                <div class=" col-sm-12 form-group ">
                        <label>Services Provided</label>
                        <input type="text" class="form-control" required>
                </div>
        </div> 
        <hr class="my-4">
        <div class="row">
                <div class=" col-sm-12 form-group">
                <label>Address Line 1</label>  
                <input type="text" class="form-control" required>
                </div>
       </div>  
        <div class="row">
                <div class=" col-sm-12 form-group">
                        <label>Address Line 2</label>
                <input type="text" class="form-control" >
                </div>
        </div>
        <div class="row">        
                <div class=" col-sm-12 form-group ">
                <label>Landmark</label>
                <input type="text" class="form-control" required>
                </div>
                
        </div>  
        <div class="row">
                        <div class=" col-sm-6 form-group ">
                        <label>Zip Code</label>
                        <input type="text" class="form-control"  max="6" min="6" required>
                        </div>
                        <div class=" col-sm-6 form-group ">
                        <label>Country</label>
                        <input type="text" class="form-control"  required>
                        </div>
        </div>                
        <div class="row">
                <div class=" col-sm-6 form-group ">
                <label>State</label>
                <input type="text" class="form-control"  required>
                </div>
                <div class=" col-sm-6 form-group ">
                <label>City</label>
                <input type="text" class="form-control"  required>
                </div>
        </div>
        <div class="row">
        <div class=" col-sm-11 form-group ">
                <label>Address Type</label>
                <select type="text" class="form-control"  required>
                <option value="HOME">HOME</option>
                <option value="OFFICE">OFFICE</option>
                </select>
        </div>  
        <div class=" col-sm-1 form-group "> 
                <button type="button" class="add-btn" (click)="addAnotherAddress();">
                        <span class="fa fa-plus"></span>
                </button> 
        </div>
        </div>
        <div class="add_address" [innerHtml]="htmlToAddAddress" > </div>
        <br>
        <div class="row mr-auto">
        <div class="col-sm-1 form-group"> <input type="checkbox"></div>
        <div class="col-sm-11 form-group">
        <label > Check if Office Address same as Home Address</label>
        </div>
        </div>      
        <hr class="my-4">
        <div class="row">
        <div class=" col-sm-6 form-group">
        <label>Phone Number</label>  
        <input type="text" class="form-control" max="10" min="10"  required>
        </div>
        <div class=" col-sm-5 form-group "> 
                <label>Phone Type</label>
                <select type="text" class="form-control"  required>
                <option value="HOME">HOME</option>
                <option value="MOBILE">MOBILE</option>
                <option value="OFFICE">OFFICE</option>
                </select>
                </div>
                <div class=" col-sm-1 form-group "> 
                <button type="button" class="add-btn" (click)="addAnotherPhoneNumber();">
                        <span class="fa fa-plus"></span>
                </button> 
                </div>
        </div>
        <div  class="add_phone_number" [innerHtml]="htmlToAddPhoneNumber"> </div>  
        <hr class="my-4">
        <div class="row">
                <div class="col-sm-12 form-group">
                <label>Password</label>
                <input type="password" class="form-control"  required>
                </div>
        </div>
        <div class="row">    
                <div class="col-sm-12 form-group">
                <label>Confirm your Password</label>
                <input type="password" class="form-control" required>
                </div>
        </div>    
        <div class="row mr-auto">
        <div class="col-sm-1 form-group"> <input type="checkbox" required></div>
        <div class="col-sm-11 form-group">
                <label > I agree <a href="#">terms and conditions</a> of service.
                </label>
                </div>
        </div> 
                <button class="btn btn-lg btn-primary btn-block text-uppercase mx-auto" type="submit">Sign Up</button>
        </form>
        <hr class="my-4">
        <div class="text-center">
                Already have an account? <a  [routerLink]="'/login'">Log In</a>        
        </div>
        <hr class="my-4">
        </div>
        </div>
        </div>
</div>