<div class="container">
        <div class="card mx-auto">
        <div class="card-signin mx-auto col-sm-8">
        <div class="card-body col">
            <h5 class="card-title text-center">Sign Up Customer Account</h5>
            <form class="form-signin">
                <div class="row">
                    <div class="col-sm-12 form-group">
                    <input type="text" class="form-control" placeholder="First Name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                    <input type="text" class="form-control" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="row">    
                    <div class="col-sm-12  form-group">
                    <input type="text" class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="row">    
                        <div class="col-sm-12  form-group">
                        <input type="text" class="form-control" placeholder="Username" required>
                        </div>
                    </div>
                <div class="row">    
                    <div class=" col-sm-12 form-group">
                    <input type="password" class="form-control" placeholder="Password" required>
                    </div>
                </div>
                <div class="row">    
                    <div class="col-sm-12 form-group">
                    <input type="password" class="form-control" placeholder="Confirm Your Password" required>
                    </div>
                </div>    
                <button class="btn btn-lg btn-primary btn-block text-uppercase mx-auto" type="submit">Sign Up</button>
            </form>
            <hr class="my-4">
            <div class="text-center">
                    Already have an account? <a  [routerLink]="'/login'">Log In</a>        
            </div>
            <hr class="my-4">
            </div>
            </div>
    </div>
</div>