<br>
<div class="container">
        <div class="card mx-auto">
                <a class="fa fa-close float-right px-2 pt-2 mr-1 ml-auto"  href="/" ></a>
        <div class="card-signin mx-auto">
        <div class="card-body col">
            <h5 class="card-title text-center font-weight-bold">SIGN UP CUSTOMER ACCOUNT</h5>
            <form class="form-signin" #customerForm="ngForm" (ngSubmit)="customerForm.form.valid" [mustMatch]="['password', 'confirmPassword']" novalidate>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
                        <div *ngIf="customerForm.submitted && firstName.invalid" class="alert alert-danger">
                        <div *ngIf="firstName.errors.required">First Name is required.</div>
                        </div>  
                    </div>
                    <div class="col-sm-6 form-group">
                            <label>Last Name</label>
                        <input type="text" class="form-control" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
                        <div *ngIf="customerForm.submitted  && lastName.invalid" class="alert alert-danger">
                        <div *ngIf="lastName.errors.required">Last Name is required.</div>
                        </div> 
                    </div>
                </div>
                <div class="row">    
                    <div class="col-sm-12  form-group">
                            <label>Email ID</label>
                        <input type="text" class="form-control" required [(ngModel)]="model.email" name="email" #email="ngModel" email>
                        <div *ngIf="customerForm.submitted  && email.invalid" class="alert alert-danger">
                        <div *ngIf="email.errors.required">Email ID is required.</div>
                        <div *ngIf="email.errors.email">Email ID is not valid.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-4 form-group">
                            <label>Ext.</label>  
                            <select type="text" class="form-control" [(ngModel)]="model.extension" name="extension" #extension="ngModel" required>
                                <option [ngValue]="null" disabled> --Select-- </option>
                                <option [ngValue]="+61">Australia +61</option>
                                <option [ngValue]="+880">Bangladesh +880</option>
                                <option [ngValue]="+32">Belgium +32</option>
                                <option [ngValue]="+975">Bhutan +975</option>
                                <option [ngValue]="+86">China +86</option>
                                <option [ngValue]="+93">Afghanistan +93</option>
                                <option [ngValue]="+506">Costa Rica +506</option>
                                <option [ngValue]="+49">Germany +49</option>
                                <option [ngValue]="+852">Hong Kong +852</option>
                                <option [ngValue]="+91">India +91</option>
                                <option [ngValue]="+81">Japan +81</option>
                                <option [ngValue]="+254">Kenya +254</option>
                                <option [ngValue]="+60">Malaysia +60</option>
                                <option [ngValue]="+960">Maldives +960</option>
                                <option [ngValue]="+977">Nepal +977</option>
                                <option [ngValue]="+31">Netherlands +31</option>
                                <option [ngValue]="+64">New Zealand +64</option>
                                <option [ngValue]="+234">Nigeria +234</option>
                                <option [ngValue]="+850">North Korea +850</option>
                                <option [ngValue]="+92">Pakistan +92</option>
                                <option [ngValue]="+51">Peru +51</option>
                                <option [ngValue]="+63">Philippines +63</option>
                                <option [ngValue]="+7">Russia +7</option>
                                <option [ngValue]="+966">Saudi Arabia +966</option>
                                <option [ngValue]="+65">Singapore +65</option>
                                <option [ngValue]="+27">South Africa +27</option>
                                <option [ngValue]="+82">South Korea +82</option>
                                <option [ngValue]="+94">Sri Lanka +94</option>
                                <option [ngValue]="+41">Switzerland +41</option>
                                <option [ngValue]="+66">Thailand +66</option>
                                <option [ngValue]="+90">Turkey +90</option>
                                <option [ngValue]="+971">United Arab Emirates +971</option>
                                <option [ngValue]="+1">USA +1</option>
                                <option [ngValue]="+263">Zimbabwe +263</option>
                        </select>  
                        </div>  
                    <div class=" col-sm-8 form-group">
                            <label>Phone Number</label>  
                            <input type="text"  class="form-control" minlength="10" maxlength="10" required [(ngModel)]="model.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" >
                            <div *ngIf="customerForm.submitted  && phoneNumber.invalid" class="alert alert-danger">
                            <div *ngIf="phoneNumber.errors.required">Phone Number is required.</div>
                            <div *ngIf="phoneNumber.errors.minlength">Phone Number is less than 10 digits.</div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">        
                    <div *ngIf="extension.valid && phoneNumber.valid">
                    <div style="color:red;"><small>
                    *This phone number would be used for otp verification of your account.
                    </small></div>
                    </div>
                    </div>
                </div>
               <div class="row">    
                        <div class="col-sm-12  form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" required [(ngModel)]="model.userName" name="userName" #userName="ngModel">
                            <div *ngIf="customerForm.submitted  && userName.invalid" class="alert alert-danger">
                            <div *ngIf="userName.errors.required">
                            User Name is required.
                            </div>
                            </div>
                        </div>
                    </div>
                <div style="color:red;" *ngIf="user_exists">
                <small>*{{error_msg}}</small>
                </div>
                <div class="row">    
                    <div class=" col-sm-12 form-group">
                        <label>Password</label>
                        <input [type]="show1 ? 'text' : 'password'"class="form-control" required [(ngModel)]="model.password" name="password" #password="ngModel">
                        <span toggle="#password-field" [class]="show1? 'fa fa-eye-slash field-icon' :'fa fa-eye field-icon' " (click)="showPassword1()"></span>
                        <div *ngIf="customerForm.submitted  && password.invalid" class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                        Password is required.
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">    
                    <div class="col-sm-12 form-group">
                            <label>Confirm Your Password</label>
                        <input [type]="show2 ? 'text' : 'password'" class="form-control" required [(ngModel)]="model.confirmPassword" name="confirmPassword" #confirmPassword="ngModel">
                        <span toggle="#password-field" [class]="show2? 'fa fa-eye-slash field-icon' :'fa fa-eye field-icon' " (click)="showPassword2()"></span>
                        <div *ngIf="customerForm.submitted  && confirmPassword.invalid" class="alert alert-danger">
                        <div *ngIf="confirmPassword.errors.required">
                        Confirm Password is required.
                        </div>
                        <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                </div>  
                <hr class="my-4" *ngIf="customerForm.form.valid">
                <div class="row mx-auto" *ngIf="customerForm.form.valid">
                        <br>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11 font-weight-bold my-1">
                        Verification Code will be send to the Phone Number below:
                        </div>
                        
                </div>
                <div class="row" *ngIf="customerForm.form.valid">   
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3 form-group">
                                <select type="text" class="form-control mt-2" #ext_no [(ngModel)]="model.extension" name="extension" #extension="ngModel" required>
                                <option [ngValue]="null" disabled> --Select-- </option>
                                <option [ngValue]="+61">Australia +61</option>
                                <option [ngValue]="+880">Bangladesh +880</option>
                                <option [ngValue]="+32">Belgium +32</option>
                                <option [ngValue]="+975">Bhutan +975</option>
                                <option [ngValue]="+86">China +86</option>
                                <option [ngValue]="+93">Afghanistan +93</option>
                                <option [ngValue]="+506">Costa Rica +506</option>
                                <option [ngValue]="+49">Germany +49</option>
                                <option [ngValue]="+852">Hong Kong +852</option>
                                <option [ngValue]="+91">India +91</option>
                                <option [ngValue]="+81">Japan +81</option>
                                <option [ngValue]="+254">Kenya +254</option>
                                <option [ngValue]="+60">Malaysia +60</option>
                                <option [ngValue]="+960">Maldives +960</option>
                                <option [ngValue]="+977">Nepal +977</option>
                                <option [ngValue]="+31">Netherlands +31</option>
                                <option [ngValue]="+64">New Zealand +64</option>
                                <option [ngValue]="+234">Nigeria +234</option>
                                <option [ngValue]="+850">North Korea +850</option>
                                <option [ngValue]="+92">Pakistan +92</option>
                                <option [ngValue]="+51">Peru +51</option>
                                <option [ngValue]="+63">Philippines +63</option>
                                <option [ngValue]="+7">Russia +7</option>
                                <option [ngValue]="+966">Saudi Arabia +966</option>
                                <option [ngValue]="+65">Singapore +65</option>
                                <option [ngValue]="+27">South Africa +27</option>
                                <option [ngValue]="+82">South Korea +82</option>
                                <option [ngValue]="+94">Sri Lanka +94</option>
                                <option [ngValue]="+41">Switzerland +41</option>
                                <option [ngValue]="+66">Thailand +66</option>
                                <option [ngValue]="+90">Turkey +90</option>
                                <option [ngValue]="+971">United Arab Emirates +971</option>
                                <option [ngValue]="+1">USA +1</option>
                                <option [ngValue]="+263">Zimbabwe +263</option>
                                </select>        
                        </div> 
                        <div class="col-sm-4">
                                <input type="text" minlength="10" maxlength="10" class="form-control mt-2" #v_phone_no required [(ngModel)]="model.phoneNumber" name="phoneNumber" #phoneNumber="ngModel">
                        </div>
                        <div class="col-sm-4">
                                <button class="btn btn-outline-primary btn-sm btn-block text-uppercase mx-auto my-1" type="button" (click)="sendVCode(ext_no.value,v_phone_no.value);" data-toggle="modal" data-target="#verificationstep1"><small>{{send_resend}}</small></button>
                        </div>
                        <br><br>
                </div>
                <div class="row" *ngIf="customerForm.form.valid">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                <div style="color:red;"><small>
                *Changing this phone number would change the phone number entered in the form.</small>
                </div>
                </div>
                </div>
                <br>
                <div class="row" *ngIf="customerForm.form.valid">   
                                <div class="col-sm-1"></div>
                                <div hidden>
                                                <select type="text" class="form-control mt-2" #ext_no1 [(ngModel)]="model.extension" name="extension" #extension="ngModel" required>
                                                <option [ngValue]="null" disabled> --Select-- </option>
                                                <option [ngValue]="+61">Australia +61</option>
                                                <option [ngValue]="+880">Bangladesh +880</option>
                                                <option [ngValue]="+32">Belgium +32</option>
                                                <option [ngValue]="+975">Bhutan +975</option>
                                                <option [ngValue]="+86">China +86</option>
                                                <option [ngValue]="+93">Afghanistan +93</option>
                                                <option [ngValue]="+506">Costa Rica +506</option>
                                                <option [ngValue]="+49">Germany +49</option>
                                                <option [ngValue]="+852">Hong Kong +852</option>
                                                <option [ngValue]="+91">India +91</option>
                                                <option [ngValue]="+81">Japan +81</option>
                                                <option [ngValue]="+254">Kenya +254</option>
                                                <option [ngValue]="+60">Malaysia +60</option>
                                                <option [ngValue]="+960">Maldives +960</option>
                                                <option [ngValue]="+977">Nepal +977</option>
                                                <option [ngValue]="+31">Netherlands +31</option>
                                                <option [ngValue]="+64">New Zealand +64</option>
                                                <option [ngValue]="+234">Nigeria +234</option>
                                                <option [ngValue]="+850">North Korea +850</option>
                                                <option [ngValue]="+92">Pakistan +92</option>
                                                <option [ngValue]="+51">Peru +51</option>
                                                <option [ngValue]="+63">Philippines +63</option>
                                                <option [ngValue]="+7">Russia +7</option>
                                                <option [ngValue]="+966">Saudi Arabia +966</option>
                                                <option [ngValue]="+65">Singapore +65</option>
                                                <option [ngValue]="+27">South Africa +27</option>
                                                <option [ngValue]="+82">South Korea +82</option>
                                                <option [ngValue]="+94">Sri Lanka +94</option>
                                                <option [ngValue]="+41">Switzerland +41</option>
                                                <option [ngValue]="+66">Thailand +66</option>
                                                <option [ngValue]="+90">Turkey +90</option>
                                                <option [ngValue]="+971">United Arab Emirates +971</option>
                                                <option [ngValue]="+1">USA +1</option>
                                                <option [ngValue]="+263">Zimbabwe +263</option>
                                                </select>        
                                        </div> 
                                        <div hidden>
                                                <input type="text" minlength="10" maxlength="10" class="form-control" #v_phone_no1 required [(ngModel)]="model.phoneNumber" name="phoneNumber" #phoneNumber="ngModel">
                                        </div>
                                <div class="col-sm-7">
                                        <input type="text"  minlength="6" maxlength="6" class="form-control mt-2" required #code_received placeholder="Enter code here">
                                </div>
                                <div class="col-sm-4">
                                        <button class="btn btn-outline-primary btn-sm btn-block text-uppercase mx-auto my-1" type="button" (click)="verifyVCode(ext_no1.value,v_phone_no1.value,code_received.value);" data-toggle="modal" data-target="#verificationstep2"><small>Submit</small></button>
                                </div>
                                <br><br>
                        </div>
                <hr class="my-4" *ngIf="customerForm.form.valid">
                
                <div class="row"  *ngIf="v_step2_msg!='OTP verified successfully and click on sign-up button to complete your registration.'">
                        <br>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase mx-auto" type="submit">Sign Up</button>
                </div> 
                <div class="row"  *ngIf="customerForm.form.valid && v_step2_msg=='OTP verified successfully and click on sign-up button to complete your registration.'">
                        <br>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase mx-auto" type="button" (click)="createCustomer(customerForm.value)" data-toggle="modal" data-target="#final_signup">Sign Up</button>
                </div> 
                      
            </form>
            <hr class="my-4">
            <div class="text-center">
                    Already have an account? <a  [routerLink]="'/login'">Log In</a>        
            </div>
            <hr class="my-4">
            </div>
            </div>
    </div>
</div>
<!-- Modal -->
<div id="verificationstep1"  class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-body my-3">
                {{v_step1_msg}}
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Ok</button>
        </div>
        </div>
</div>
</div>
<!-- Modal -->
<div id="verificationstep2"  class="modal fade" role="dialog">
<div class="modal-dialog modal-dialog-centered modal-md">
<!-- Modal content-->
        <div class="modal-content">
        <div class="modal-body my-3">
                {{v_step2_msg}}
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Ok</button>
        </div>
        </div>
</div>
</div>
<!-- Modal -->
<div id="final_signup"  class="modal fade" role="dialog">
<div class="modal-dialog modal-dialog-centered modal-sm">
<!-- Modal content-->
        <div class="modal-content">
        <div class="modal-body my-3">
        {{error_msg}}
        </div>
        <div class="modal-footer">
        <button *ngIf="error_msg =='You are registered successfully.'"type="button" class="btn btn-outline-success" data-dismiss="modal" [routerLink]="'/login/customer'">Login</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>    
        </div>
        </div>
</div>
</div>